<!DOCTYPE html>
<html>
  <head>
    <title>Unleash the Weekend</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <header>
      <h1>Unleash the Weekend with New Friends</h1>
    </header>
    <section id="about">
      <h2>What is Unleash the Weekend?</h2>
      <p style="font-size: 20px;line-height: 30px;">Unleash the Weekend is a platform for connecting with new people and having fun on Fridays and Saturdays. <br> Whether you're new to town or just looking for something to do, our community of adventurous &nbsp; and fun-loving individuals is here to help you make the most of your weekends.</p>
    </section>
    <section id="cta">
      <a href="/login" class="button">Login</a>
      <a href="/register" class="button">Register</a>
    </section>
    <section id="testimonials">
      <h2>What Our Members Say</h2>
      <blockquote>
        <p>"Unleash the Weekend has helped me make so many new friends and have so many fun experiences. I never thought I could have so much fun on a Friday or Saturday night!"</p>
        <cite>- Jane Doe</cite>
      </blockquote>
      <blockquote>
        <p>"I've been looking for a way to meet new people and have fun on the weekends, and Unleash the Weekend has been a lifesaver. I've had so many great experiences and I can't wait to see what the future holds."</p>
        <cite>- John Smith</cite>
      </blockquote>
    </section>
  </body>
</html>
